.container {
    display: flex;
}
.wrapper-3 {
    height: 690px;
    margin-top: 75px;
    margin-left: 34px;
    border: 1px solid #eeeeee;
}
.products-header {
    margin-top: 64px;
    margin-left: 43px;
    width: 169px;
    border-bottom: 3px solid var(--primary-color);
}
