@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
:root {
    --primary-color: #f70400;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    height: 1000px;
}

html ::-webkit-scrollbar {
    border-radius: 0;
    height: 8px;
    width: 8px;
}
html ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
html ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
a {
    text-decoration: none;
    color: currentColor;
}
img {
    cursor: pointer;
}
