.wrapper {
    width: 100%;
    height: 800px;
    background-color: black;
}
.container {
    height: 100%;
    width: 100%;
    padding: 30px 30px;
    display: flex;
}
.left {
    background-color: black;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img-upper {
    width: 100%;
    padding-right: 30px;
    padding-bottom: 10px;
    height: 50%;
    object-fit: cover;
    &:hover {
        filter: brightness(0.7);
        transition: all 0.2s ease-in;
    }
}
.img-under {
    width: 100%;
    height: 50%;
    padding-right: 30px;
    object-fit: cover;

    &:hover {
        filter: brightness(0.7);
        transition: all 0.2s ease-in;
    }
}

.center {
    background-color: black;
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    img {
        height: 100%;
        width: 100%;
        &:hover {
            filter: brightness(0.7);
            transition: all 0.2s ease-in;
        }
    }
    &:hover .title {
        color: white;
        animation-duration: 2s;
        animation-name: bounceIn;
    }
}
.title {
    font-size: 3.5rem;
    font-weight: 700;
    position: absolute;
    letter-spacing: 14px;
    right: 22%;
    top: 45%;
    color: rgb(0, 0, 0);
}
@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
// .music {
//     display: none;
// }
