.wrapper {
    min-height: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.container {
    padding: 7px 10px 10px 10px;
    width: 320px;
    border: 2px solid transparent;
    cursor: pointer;
    &:hover {
        border-color: #eeeeee;
        transition: all 1s linear;
    }
    &:hover .product_detail {
        // display: flex !important;
        opacity: 1;
        animation-duration: 0.5s;
        animation-name: flowdown;
    }
    img {
        width: 300px;
        height: 300px;
    }
    a {
        transition: all 0.2s ease;
        &:hover {
            color: var(--primary-color);
        }
    }
}
@keyframes flowdown {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(1);

        opacity: 1;
    }
}
.product_caption {
    color: #2f333a;
    line-height: 19px;
    text-align: start !important;
    font-size: 1.1rem;
    text-transform: uppercase;
}
.product_name {
    height: 38px;
}
.product_type {
    font-size: 1.5rem !important;
    text-transform: none !important;
    color: #737373 !important;
    font-weight: 500;
    padding: 4px 0px 16px;
}
.product_price {
    font-size: 1.5rem !important;
    text-transform: none !important;
}
.product_detail {
    opacity: 0;
    border-top: 1px solid #eeeeee;
    padding-top: 16px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}
.product_detail-left {
    font-size: 1.4rem;
    color: #2f333a;
    font-weight: 600;
    transition: all 1s linear;
    &:hover .product-tippy {
        opacity: 1;
    }
}
.left-content {
    margin-left: 14px;
}
.product_detail-right {
    display: flex;
    font-size: 1.7rem;
    color: #bbbbbb;
}

.heart {
    padding: 0px 14px;
}
.heart-check {
    padding: 0px 14px;
}
.product-tippy {
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0px 8px;
    min-width: 75px;
    max-height: 20px;
    line-height: 20px;
    min-height: 20px;
    border-radius: 8px;
    background: var(--primary-color);
    box-shadow: 0 0 50px #0000001a;
    border-radius: 3px;
}
